* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0px;
  padding: 0px;
}

#container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 1280px;
  height: 800px;
  background-color: white;
  border: 5px solid black;
}

/* Calendar */

#cal-widget {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#cal-today {
  grid-area: 1 / 1 / 4 / 3;
  border-bottom: 3px solid #666;
}
#cal-today-plus1 {
  grid-area: 4 / 1 / 6 / 2;
  border-right: 3px solid #666;
}
#cal-today-plus2 {
  grid-area: 4 / 2 / 5 / 3;
  border-bottom: 3px solid #666;
}
#cal-today-plus3 {
  grid-area: 5 / 2 / 6 / 3;
}

/* Todos */

#todos-widget {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #ccc;
}

/* Shopping */

#shopping-widget {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #666;
}
